services:
  backend:
    build: ./backend
    container_name: pokemon-backend-dev
    ports:
      - "8080:8080"
    env_file:
      - .env.dev
    restart: unless-stopped

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile.dev

    container_name: pokemon-frontend-dev
    ports:
      - "3000:3000"
    env_file:
      - .env.dev
    depends_on:
      - backend

